services:

  # 1. Local Database
  mongo:
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - mongo-data:/data/db # persist data, to insert real db path

  # 2. Mongo Express GUI (optional for local DB)
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://mongo:27017/
      ME_CONFIG_BASICAUTH: false
    depends_on:
      - mongo

  # 3. Backend (Node/Express)
  server:
    container_name: by-trail-server
    build: ./server
    ports:
      - "3000:3000"
    secrets:
      - db_uri
    environment:
      PORT: ${SERVER_PORT:-3000}
      CLIENT_ORIGIN: http://localhost:${CLIENT_PORT:-5173}
      MONGO_URI_FILE: /run/secrets/db_uri
      MONGO_URI_LOCAL: mongodb://mongo:27017/by-trail
      # For using Local or Atlas
      USE_ATLAS: "${USE_ATLAS:-true}"
    volumes:
      - ./server:/app            # Synchronize local files with the container (Hot Reload)
      - /app/node_modules
    # Note: If use Atlas, not depending on Local container anymore
    # depends_on: 
    #   - mongo 
  
  # 4. Frontend (Vite/React)
  client:
    container_name: by-trail-client
    build: ./client
    ports:
      - "5173:5173"
    environment:
      VITE_PORT: ${CLIENT_PORT:-5173}
      VITE_SERVER_URL: http://${SERVER_HOST:-server}:${SERVER_PORT:-3000}
      CHOKIDAR_USEPOLLING: "true" # Tell Vite to use polling (better FS changes detection in Docker)
    volumes:
      - ./client:/app        # Sync files for HMR
      - /app/node_modules    # Protect container's node_modules
    depends_on:
      - server

secrets:
  db_uri:
    file: ./secrets/mongo_atlas_uri.txt

volumes:
  mongo-data: # named volume to not lost data on turn off